
#what-included-heading 
{
    text-align: center;
    color: black;
    margin-bottom: 70px;
}

#what-picture
{
    width: 400px;
    margin-left: 300px;
}

.what-list
{
    margin-right: 400px;
    line-height: 50px;
    color:lightslategrey;
}

.btn
{
    display: inline block;
    text-decoration: none;
    background-color: orange;
    border: 5px;
    outline: none;
    padding: 12px 48px;
    border-radius: 50px;
    margin-top: 50px;
    color: aliceblue;
}

article {
    display: flex;
    justify-content: space-between;
}


