
#what-book-for-heading {
    text-align: center;
    color: black;
    margin-bottom: 50px;
}

#list-what-second
{
    font: sans-serif;
    text-align: center;
    color: rgb(125, 123, 123);
    margin-inline: 290px;
    margin-bottom: 50px;
}

#list-what-third
{
    font-size: 20px;
    text-align: left;
    color: black;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-top: 40px;
}

#list-what-fourth
{
    font-size: 20px;
    text-align: left;
    color: black;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-top: 40px;
}

#list-what-fifth
{
    font-size: 20px;
    text-align: left;
    color: black;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-top: 40px;
}

#list-what-sixth
{
    font-size: 20px;
    text-align: left;
    color: black;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-top: 40px;
}

.list-what-third
{
    text-align: left;
    color: black;
    margin-left: 500px;
    margin-bottom: 10px;

}

.list-what-fourth
{
    text-align: left;
    color: black;
    margin-left: 500px;
    margin-bottom: 10px;
}

.list-what-fifth
{
    text-align: left;
    color: black;
    margin-left: 500px;
    margin-bottom: 10px;
}

.list-what-sixth
{
    text-align: left;
    color: black;
    margin-left: 500px;
    margin-bottom: 10px;
}


