
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.head-line {
    font-size: 40px;
    margin-bottom: 16px;
    color: #1c1e2e;
}

.subhead {
    font-size: 20px;
    margin-bottom: 24px;
    color: #4c527d;
}

.container {
    padding: 48px 12px;
    width: 1320px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/*      Start css header   */

#header {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(156, 154, 154, 0.5);
}

#nav {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline-block;
    margin: 0 -3px;
}

#nav li a {
    display: inline-block;
    padding: 0 24px;
    text-decoration: none;
    line-height: 56px;
    color: #1c1e2e;
    font-size: 20px;
}

#logo {
    width: 64px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 135px;
    margin-top: -1px;
}

#nav li a:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.user {
    display: inline-block;
    padding: 12px 10px;
    height: 56px;
}

.user:hover {
    opacity: 0.7;
}

.signin {
    position: absolute;
    right: 120px;
    top: 0;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 5;
    top: 100%;
    margin-left: -56px;
    background-color: #f2f2f2;
    color: #1c1e2e !important;
    width: 64px;
    padding: 6px;
    border-radius: 6px;
}
  
.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
}
  
.signin:hover .tooltiptext {
    visibility: visible !important;
}

#this {
    background-color: #f2f2f2;
}

/*      End css header   */

/*      Start css banner    */

#banner {
    display: flex;
    padding: 48px 8% 20px;
    width: 100%;
}

#banner-text {
    padding: 220px 12px;
    margin-right: 96px;
}

#banner #cover {
    padding-top: 56px;
    width: 560px;
}

#banner .head-line {
    font-size: 48px;
    line-height: 56px;
}

.learn-btn {
    height: 54px;
    width: 165px;
    margin-left: 20px;
}

.learn-btn a {
    text-decoration: none;
    display: block;
    background: white;
    border: 2px solid#C50000;
    background:#C50000;
    color: white;
    line-height: 52px;
    font-weight: bold;
    border-radius: 28px;
    text-align: center;
}

.learn-btn a:hover{
    background-color: #a72222;
    color: #fff;
    transition-duration: 0.4s;
}

/*      End css banner   */



/*      Start css get-from-book    */
#get-from-book {
    width: 100%;
    background-image: linear-gradient(to bottom, #f6f8fc 0%, #fff 70%);
    padding: 48px 0;
    text-align: center;
}

#get-from-book .head-line {
    margin-bottom: 40px;
}

#get-from-book .subhead {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32px;
}

#get-from-book .container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#get-from-book .item {
    padding: 28px;
    width: 420px; 
}

#get-from-book .item i{
    font-size: 48px;
    color: #C50000;
}

#get-from-book .item-heading {
    font-weight: bold;
    font-size: 18px;
    color: #1c1e2e;
    margin-top: 8px;
    margin-bottom: 16px;
}

#get-from-book .item-desc {
    color: #4c527d;
}


/*      End css get-from-book    */

/*      Start css What's included    */
.what-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 573px;
    margin-left: auto;
    margin-right: auto; */
    padding-bottom: 32px;
}

#what-included-heading {
    text-align: center;
    color: black;
    margin-bottom: 70px;
    font-weight: bold;
}

#what-picture {
    width: 320px;
}

.what-list {
    padding-top: 40px;
    margin-left: 48px;
    font-size: 18px;
    list-style-type: none;
    line-height: 48px;
    color: #4c527d;
}

.what-list i {
    padding-right: 8px;
}

.what-btn {
    margin-left: -20px;
    margin-top: 28px;
    height: 52px;
    width: 193px;
}

.what-btn a {
    text-decoration: none;
    display: block;
    background: #C50000;
    border: 2px solid #C50000;
    color: white;
    line-height: 52px;
    font-weight: bold;
    border-radius: 28px;
    text-align: center;
    font-size: 16px;
}

.what-btn a:hover{
    color: white;
    background-color: #ef0606;
    transition-duration: 0.4s;
}


/*      End css What's included    */


/*      Start css who-this-book-for    */

#who-is-for  {
    padding-top: 24px;
    text-align: center;
}

#who-is-for .subhead {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 12px;
}

#who-is-for .container-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#who-is-for .item {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    text-align: center;
}

#who-is-for .item i{
   padding-right: 8px;
    color: #7FCDB8;
}

#who-is-for .item-heading {
    font-weight: bold;
    font-size: 20px;
    color: #1c1e2e;
    margin-bottom: 16px;
}

#who-is-for .item-desc {
    color: #4c527d;
}

/*      End css who-this-book-for    */



/*      Start css book-review    */
.item-inner {
    font-style: italic;
    color: #4c527d;
    background-color: #f6f8fc;
    position: relative;
}

.bookreview .head-line {
    margin-bottom: 8px;
}

.bookreview h2 {
    padding-bottom: 48px;
}

.bookreview i {
    position: absolute;
    left: 50%;
    top: -18px;
    margin-left: -18px;
    display: inline-block;
    width: 36px;
    height: 36px;
    background: rgba(197, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 50%;
    padding-top: 6px;
}
/*      End css book-review    */

/*   Start css  about */
#about {
    background-color: #C50000;
    color: white;
    padding-bottom: 40px;
    text-align: center;
}

#about img {
    width: 200px;
    margin-bottom: 20px;
}

#about h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

#about p {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    text-align: left;
}

/*   End css about   */



/*   Start css  footer   */

#footer {
    text-align: center;
    padding: 48px 0 20px;
}

#footer i {
    font-size: 16px;
    color: #000;
    width: 20px;
}

#des {
    padding-top: 4px;
    color: rgba(0, 0, 0, 0.7);
}

#name {
    color: rgba(186, 36, 37, 0.7);
}

#name:hover {
    cursor: pointer;
    color: #ba2425;
}

/*   End css  footer   */


