
/* Tablet */
@media (min-width: 840px) and (max-width: 1023px)  and (min-height: 1100px) {

    .btnx {
        margin-left: 20px;
    }

    #ftbtn {
        width: 120px;
        margin-left: 600px;
        margin-top: 32px;
        padding: 8px;
    }

    .correct-alert {
        padding: 40px 100px !important;
    }

    .wrong-alert {
        padding: 40px 100px !important;
    }


    #progressBar {
        width: 60%;
    }

    #hub {
        margin-top: 40px;
    }

    .nextbtn {
        right: 120px;
        width: 20%;
    }

    #question {
        margin-top: 220px;
    }

    .score {
        right: 2%;
    }

}

@media (min-width: 840px) and (max-width: 1023px)  and (max-height: 1099px) {

    .btnx {
        margin-left: 20px;
    }

    #ftbtn {
        width: 120px;
        margin-left: 600px;
        margin-top: 32px;
        padding: 8px;
    }

    .correct-alert {
        padding: 40px 100px !important;
    }

    .nextbtn {
        right: 120px;
        width: 20%;
    }

    .wrong-alert {
        padding: 40px 100px !important;
    }

}

@media (min-width: 761px) and (max-width: 839px)  and (min-height: 1100px) {

    .btnx {
        margin-left: 20px;
    }

    #ftbtn {
        width: 120px;
        margin-left: 600px;
        margin-top: 32px;
        padding: 8px;
    }

    .correct-alert {
        padding: 40px 100px !important;
    }

    .wrong-alert {
        padding: 40px 100px !important;
    }

    .choice {
        margin: 40px 40px 12px;
    }

    .btn1 {
        min-width: 244px;
        height: 200px;
        margin: 8px;
    }

    .nextbtn {
        right: 120px;
        width: 20%;
    }

    #progressBar {
        width: 60%;
    }

    #hub {
        margin-top: 40px;
    }

    #question {
        margin-top: 220px;
    }

    .score {
        right: 2%;
    }

}

@media (min-width: 761px) and (max-width: 839px)  and (max-height: 1099px) {

    .btnx {
        margin-left: 20px;
    }

    #ftbtn {
        width: 120px;
        margin-left: 600px;
        margin-top: 32px;
        padding: 8px;
    }

    .choice {
        margin: 40px 40px 12px;
    }

    .btn1 {
        min-width: 244px;
        height: 200px;
        margin: 8px;
    }

    .nextbtn {
        right: 120px;
        width: 20%;
    }

    .correct-alert {
        padding: 40px 100px !important;
    }

    .wrong-alert {
        padding: 40px 100px !important;
    }

}
/* Mobile */
@media (max-width: 760px) and (min-width: 601px) {

    .content-container{
        background-color: white;
    }

    #content {
        background-color: white;
        margin-top: 4px;
    }

    .alert {
        margin: 0 16px;
        height: 210px;
    }

    .btnx {
        margin-top: 12px;
        margin-left: 12px;
    }

    .choice {
        margin: 40px 40px 12px;
    }

    .btn1 {
        min-width: 244px;
        height: 200px;
        margin: 8px;
    }

    #ftbtn {
        width: 240px;
        margin-left: 72px;
        margin-top: 4px;
    }

    .correct-alert {
        height: 200px;
        padding: 0 16px 60px!important;
    }

    .correct i {
        display: none;
    }

    .wrong-alert {
        height: 200px;
        padding: 0 16px 60px!important;
    }

    .wrong i {
        display: none;
    }

    .score {
        right: 0;
    }

    .nextbtn {
        right: 100px;
        bottom: 28px;
        width: 50%;
    }


}

@media (max-width: 600px) and (min-width: 540px) {

    .content-container{
        background-color: white;
    }

    #content {
        background-color: white;
        margin-top: 4px;
    }

    .alert {
        margin: 0 16px;
        height: 210px;
    }

    .btnx {
        margin-top: 12px;
        margin-left: 12px;
    }

    .choice {
        margin: 40px 8px 12px;
    }

    .btn1 {
        width: 200px;
        height: 200px;
        margin: 8px;
    }

    #ftbtn {
        width: 240px;
        margin-left: 72px;
        margin-top: 4px;
    }

    .correct-alert {
        height: 200px;
        padding: 0 16px 60px!important;
    }

    .correct i {
        display: none;
    }

    .wrong-alert {
        height: 200px;
        padding: 0 16px 60px!important;
    }

    .wrong i {
        display: none;
    }

    .score {
        right: -12px;
        font-size: 1.2rem;
        top: 36px;
    }

    #hud {
        margin-top: -28px;
    }

    .hud-prefix-question, .hud-prefix, .hud-main-text {
        font-size: 1.2rem;
    }

    .nextbtn {
        right: 100px;
        bottom: 28px;
        width: 50%;
    }
      
}

@media (max-width: 539px) {

    .content-container{
        background-color: white;
    }

    #content {
        background-color: white;
        margin-top: 4px;
    }

    .alert {
        margin: 0 16px;
        height: 210px;
    }

    .btnx {
        margin-top: 12px;
        margin-left: 12px;
    }

    .choice {
        margin: 40px 8px 12px;
    }

    .btn1 {
        width: 160px;
        height: 200px;
        margin: 8px;
    }

    #ftbtn {
        width: 240px;
        margin-left: 72px;
        margin-top: 4px;
    }

    .correct-alert {
        height: 200px;
        padding: 0 16px 60px!important;
    }

    .correct i {
        display: none;
    }

    .wrong-alert {
        height: 200px;
        padding: 0 16px 60px!important;
    }

    .wrong i {
        display: none;
    }

    .score {
        right: -12px;
        font-size: 1.2rem;
        top: 36px;
    }

    #hud {
        margin-top: -28px;
    }

    .hud-prefix-question, .hud-prefix, .hud-main-text {
        font-size: 1.2rem;
    }
      
    .nextbtn {
        right: 100px;
        bottom: 28px;
        width: 50%;
    }
}





