<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home_style.css">
    <link rel="stylesheet" href="./css/home_responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/custom-icons.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/sharp-solid.css" rel="stylesheet">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Learn Japanese</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
</head>
<body>
     <!-- Start header -->
     <div id="header">
        <a href="#">
            <img id="logo" src="img/JS.png" alt="logo">
        </a>
        <ul id="nav">
            <li><a id="this" href="">Home</a></li>
            <li><a href="learning">Học</a></li>
            <li><a href="document">Tài Liệu</a></li>
        </ul>
        <!-- <a href="#"><img class="user" src="img/img_299586.png" alt="user"></a> -->
    </div>
    <!-- End header -->

    <!-- Start banner -->
    <div id="banner">
        <div id="banner-text">
            <h1 class="head-line">
                Học Tiếng Nhật <br> Cơ Bản Cùng Team 6
            </h1>
            <div class="subhead">
                Website học tiếng Nhật cơ bản tổng hợp một cách toàn diện và đầy đủ các kiến thức cần thiết giúp bạn chinh phục tiếng Nhật một cách dễ dàng từ con số 0.
            </div>
            <div class="learn-btn">
                <a href="/learning">Học Ngay</a>
            </div>
        </div>
        <div id="banner-img">
            <div id="img-holder">
                <img id="cover" src="img/z4133914067185_4501de5d613f56f0b5fce164f887b71c.jpg" alt="cover">
            </div>
        </div>
    </div>
    <!-- End banner -->

    <!-- Start get-from-book -->
    <div id="get-from-book">
        <div class="container">
            <h1 class="head-line">Bạn Sẽ Học Được Gì</h1>
            <!-- <div class="subhead">Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit consequat consequat. Orci varius natoque penatibus et magnis.</div> -->
            <div class="container-list">
                <div class="item">
                    <div class="item-icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <h3 class="item-heading">Từ vựng</h3>
                    <div class="item-desc">Việc học từ vựng sẽ không còn khô khan vì website của chúng tôi sẽ cung cấp cho bạn những từ vựng hay nhất kèm với âm thanh và hình ảnh sinh động.</div>
                </div>
                <div class="item">
                    <div class="item-icon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    <h3 class="item-heading">Ngữ pháp</h3>
                    <div class="item-desc">Các bài tập ngữ pháp sẽ được tích hợp với những từ vựng đã học để củng cố kiến thức. Bạn sẽ được luyện tập những dạng bài tập từ cơ bản đến nâng cao, giúp bạn tự tin hơn trong kỹ năng đọc hiểu</div>
                </div>
                <div class="item">
                    <div class="item-icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <h3 class="item-heading">Nghe</h3>
                    <div class="item-desc">Các dạng bài nghe được biên soạn theo giáo trình [Gogakudekiru] cùng với đó là những hướng dẫn cách học cụ thể sẽ giúp bạn nâng cao kỹ năng nghe của bạn một cách rõ rệt.</div>
                </div>
                <div class="item">
                    <div class="item-icon">
                        <i class="fa fa-comments"></i>
                    </div>
                    <h3 class="item-heading">Giao tiếp</h3>
                    <div class="item-desc">Những mẫu câu giao tiếp tiếng Nhật cơ bản theo chủ đề dành cho người mới bắt đầu dưới đây sẽ giúp bạn giao tiếp được những tình huống hội thoại ngắn diễn ra trong cuộc sống hàng ngày.</div>
                </div>
                <div class="item">
                    <div class="item-icon">
                        <i class="fa fa-bookmark"></i>
                    </div>
                    <h3 class="item-heading">Kanji</h3>
                    <div class="item-desc">Kannji luôn là nỗi lo sợ của người học tiếng Nhật nhưng khi đến với website này của chúng tôi bạn sẽ được trải nghiệm những phương pháp học hiệu quả dễ nhớ, dễ hiểu nhất. </div>
                </div>
                <div class="item">
                    <div class="item-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <h3 class="item-heading">Luyện đề</h3>
                    <div class="item-desc">Các dạng bài tập sẽ được biên soạn theo các đề thi kì trước và tích hợp thêm những dạng bài mới nhất giúp bạn bám sát kiến thức, tự tin đến 90% vượt qua các kì thi.</div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End get-from-book -->
    
    <!-- Srart what's included -->
    <i class="fa-sharp fa-solid fa-user"></i> 
    <i class="fa-kit fa-your-custom-icon-name"></i>
    <h1 id="what-included-heading">Website Này Gồm: </h1>
    <article class="what-container">
            <img id="what-picture" src="img/2257a0b0b44d38e-removebg-preview.png" alt="devbook">     
            <ul class="what-list">
                <li><i class="fa fa-check-circle"></i>Bảng chữ cái</li>
                <li><i class="fa fa-check-circle"></i>Số đếm</li>
                <li><i class="fa fa-check-circle"></i>Từ vựng</li>
                <li><i class="fa fa-check-circle"></i>Ngữ pháp</li>
                <li><i class="fa fa-check-circle"></i>Nghe</li>
                <li><i class="fa fa-check-circle"></i>Hán tự</li>
                <li><i class="fa fa-check-circle"></i>Luyện đề</li>
                <!-- <button class="what-btn">I want this book</button> -->
                <div class="what-btn">
                    <a href="#">I want this</a>
                </div>
            </ul>
    </article>
    <!-- End what's included -->

    <!-- Start who-this-book-for -->
    <div id="who-is-for">
        <div class="container">
            <h1 class="head-line">Website Này Dành Cho</h1>
            <!-- <div class="subhead">List your target readers in this section and back up with reviews. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie. Vivamus hendrerit nisi condimentum erat tempus, vitae accumsan odio euismod.</div> -->
            <div class="container-list">
                <div class="item">
                    <h3 class="item-heading"><i class="fa fa-check"></i>Software Developers</h3>
                    <div class="item-desc">Learn lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie.</div>
                </div>
                <div class="item">
                    <h3 class="item-heading"><i class="fa fa-check"></i>Software Developers</h3>
                    <div class="item-desc">Learn lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie.</div>
                </div>
                <div class="item">
                    <h3 class="item-heading"><i class="fa fa-check"></i>Software Developers</h3>
                    <div class="item-desc">Learn lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie.</div>
                </div>
                <div class="item">
                    <h3 class="item-heading"><i class="fa fa-check"></i>Software Developers</h3>
                    <div class="item-desc">Learn lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales sit amet neque sit amet molestie.</div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End who-this-book-for -->

    <!-- Start bookreview -->
    <div class="bookreview">
        <div class="container">
            <h2 class="head-line text-center">Đánh Giá Của Người Học</h2>
            <!-- <div class="subhead text-center">See what our readers are saying.</div> -->
            <div class="row justify-content-center">
                <div class="item col-12 col-lg-4 p-3 mb-4">
                    <div class="item-inner theme-bg-light rounded p-4">
                        <i class="fa fa-quote-right"></i>
                        <blockquote class="quote">
                            "Vô tình biết đến trang thôi nhưng thử rồi thì đúng là bị 'nghiện'. Trang web hay ho nhất mà mình từng học tiếng Nhật."
                        </blockquote>
                        <div class="source row gx-md-3 gy-3 gy-md-0">
                            
                            <div class="col text-center text-md-start">
                                <div class="source-name">James Doe</div>
                                <div class="soure-title">Co-Founder, Startup Week</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-12 col-lg-4 p-3 mb-4 ">
                    <div class="item-inner theme-bg-bold rounded p-4">
                        <i class="fa fa-quote-right"></i>
                        <blockquote class="quote">
                            "Trang web đã giúp mình biết thêm rất nhiều kiến thức bổ ích vé tiếng Nhật và văn hóa của Nhật Bản. Cảm ơn các bạn tạo ra một trang web học tiếng Nhật tuyệt vời như này."
                        </blockquote>
                        <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                            
                            <div class="col text-center text-md-start">
                                <div class="source-name">Jean Doe</div>
                                <div class="soure-title">Co-Founder, Company Tristique</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="item col-12 col-lg-4 p-3 mb-4">
                    <div class="item-inner theme-bg-light rounded p-4">
                        <i class="fa fa-quote-right"></i>
                        <blockquote class="quote">
                            "Trang web rất hay và ý nghīa. Mình mới bắt đầu học tiếng Nhât, nghe nói là rất khó nhưng học ở đây rất thích và nghiền luôn."
                        </blockquote>
                        <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                            
                            <div class="col text-center text-md-start">
                                <div class="source-name">Tom Doe</div>
                                <div class="soure-title">Product Designer, Company Lorem</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-12 col-lg-4 p-3 mb-4">
                    <div class="item-inner theme-bg-light rounded p-4">
                        <i class="fa fa-quote-right"></i>
                        <blockquote class="quote">
                            "Trang web sinh ra để dành cho tiếng Nhật mà. Một trang web với những kiến thức đầy đủ mà dễ nhớ. Cảm ơn các bạn đxa tạo ra trang web này."
                        </blockquote>
                        <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                            
                            <div class="col text-center text-md-start">
                                <div class="source-name">Alice Doe</div>
                                <div class="soure-title">App Developer, Company Ipsum</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-12 col-lg-4 p-3 mb-4">
                    <div class="item-inner theme-bg-light rounded p-4">
                        <i class="fa fa-quote-right"></i>
                        <blockquote class="quote">
                            "Ôi cuối cùng mình đã tìm thấy một trang web học Tiếng Nhật một cách thú zị và hiệu quả, trình độ Tiếng Nhật của mình đã tăng lên rất nhanh."
                        </blockquote>
                        <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                            
                            <div class="col text-center text-md-start">
                                <div class="source-name">Sam Doe</div>
                                <div class="soure-title">Co-Founder, Company Integer</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End bookreview -->


    <!-- Start about -->
    <div id="about">
        <div class="container">
            <img src="img/author-profile.png" alt="author">
            <h2 class="heading">Team 6</h2>
            <p class="desc">Chào mọi người, chúng mình chính là team 6, những người đã chung tay tạo ra trang web này. Từ những con người xa lạ, nhờ kỳ thử thách của câu lạc bộ JS mà chúng mình đã quen nhau rồi cùng nhau làm ra một trang web nho nhỏ này. 
            <br><br>
            Mục đích của việc tạo ra trang web này không chỉ đơn giản là vượt qua kỳ thử thách mà còn là để giúp mọi người học tiếng Nhật một cách dễ dàng và hiệu quả. Các bài học tiếng Nhật đã được chúng mình phân chia theo các mức độ khác nhau để giúp người dùng dễ dàng lựa chọn bài học phù hợp với trình độ của mình. Nếu bạn có góp ý gì cho trang web của chúng mình thì hãy cứ liên hệ ngay với bọn mình nhé !</p>
        </div>
    </div>

    <!-- End about -->

    <!-- Start footer -->
    <div id="footer">
        <div class="socials-list">
            <a href="https://www.facebook.com/maidung2003/" target="_blank" class="ic"><i class="fa fa-facebook-square"></i></a>
            <a href="mailto: maidung1602@gmail.com" target="_blank" class="ic"><i class="fa fa-envelope"></i></i></a>
            <a href="https://www.instagram.com/meii_duzgn/" target="_blank" class="ic"><i class="fa fa-instagram"></i></a>   
        </div>
        <p id="des">Designed by <span id="name">Team 6</span></p>
    </div>
    <!-- End footer -->

</body>
</html>