
/*      Start css content   */

.btn{
    background-color: #c50000 !important;
    color: white !important;
}

.group-btn {
    justify-content: center;
    align-items: center;
}

.btn:focus {
    box-shadow: 0 0 0 4px rgba(197, 0, 0, 0.2) !important;
}

.btn-custom {
    width: 70px;
    height: 70px; 
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px rgba(241, 49, 49, 0.238);
}



.custom-1 {
    margin-right: 30px;
}
  
.custom-2 {
    margin-left: 20px;
}
  
.custom-3 {
    margin-left: 50px;
}
  
.custom-4 {
    margin-right: 30px;
}
  
.custom-5 {
    margin-right: 110px;
}

.content-header{
    background-color: #c50000;
    color: white;
    margin: 20px 0;
    border-radius: 20px;
    height: 92px;
    padding: 16px 0;
}

.content-container{
    background-color: #f2f2f2;
    padding: 40px 0;
}

#content {
    position: relative;
    background-color: #f8f9fa;
    border-radius: 28px;
    margin: 60px auto 0;
    max-width: 600px;
    padding: 32px 48px 32px;
}

.text {
    margin-bottom: 4px;
}

.list-group {
    list-style-type: none;
}

.list-group li {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*      End css content   */

/*  Start css multiple choice */
.js-multiple {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
    display: none;
}

.js-multiple.open {
    display: block;
}

.progress-bar {
    background-color: #c50000 !important;
}

.de-bai{
    margin-top: 120px;
    text-align: center;
}

.choice {
    justify-content: space-evenly;
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 88px;
    justify-content: center;
    padding-bottom: 52px;
}

.btn1 {
    padding: 88px;
    background-color: white;
    border-radius: 32px;
    border-color: rgba(224, 224, 224, 0.5);
    margin: 0px 20px;
    background-color:white;
    color: black;
    font-size: 50px;
    display: inline-flex;
    width: 8%;
    justify-content: center;
}

.btn1:focus {
    background-color: rgba(11, 167, 245, 0.2);
    border-color: rgba(11, 167, 245, 0.8);
    color: rgb(0, 0, 0);
}

#ftbtn {
    margin-left: 1000px;
    margin-top: 12px;
    border-radius: 28px;
    text-align: center;
    font-size: 19px;
    border-color: gray;
    border-width: 2px 2px 4px;
    padding: 10px;
    width: 10%;
}

#ftbtn:hover, #ftbtn:focus {
    color: white;
    background-color: #c50000;
}

hr {
    width: 100%;
}

.btnx {
    margin-left: 150px;
    margin-top: 29px;
    justify-content: center;
    border: none;
    background-color: white;
}

.progress{
    width: 80%;
    margin-left: 200px;
    margin-top: -20px;
}

.thong-bao-thoat {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    align-items: center;
    justify-content: center;
    display: none;
}

.thong-bao-thoat.open {
    display: flex;
}

.alert {
    background-color: white !important;
    position: relative;
    width: 532px;
    min-height: 160px;
    padding: 24px !important;
}

#alrtbtn1 {
    position: absolute;
    right: 100px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 12px;
    padding: 6px 10px;
}

#alrtbtn1:hover {
    background-color: #e4e0e0;
}

#alrtbtn2 {
    position: absolute;
    right: 32px;
    border: 2px solid rgba(11, 167, 245, 0.8);
    background-color: rgba(11, 167, 245, 0.5);
    font-size: 12px;
    padding: 6px 10px;
}

/*  End css multiple choice */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/*      Start css header   */

#header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
}

#nav {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline-block;
    margin:0 -3px;
}

#nav li a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 60px;
    color: #1c1e2e;
    font-size: 20px;
}

#logo {
    width: 64px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 135px;
    padding-top: 2px;
}

#nav li a:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.user {
    position: absolute;
    right: 120px;
    display: inline-block;
    padding: 14px 12px;
    height: 60px;
}

#this {
    background-color: #f2f2f2;
}

/*      End css header   */


/*   Start css  footer   */

#footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 48px 0 20px;
}

#footer i {
  font-size: 16px;
  color: #000;
  width: 20px;
}

#des {
  padding-top: 4px;
  color: rgba(0, 0, 0, 0.7);
}

#name {
  color: rgba(186, 36, 37, 0.7);
}

#name:hover {
  cursor: pointer;
  color: #ba2425;
}

/*   End css  footer   */
