
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    #logo {
        margin-left: 80px;
    }

    .user {
        right: 60px;
    }

    #banner {
        padding-top: 80px;
        padding-bottom: 84px;
    }

    .btnx {
        margin-left: 100px;
    }

    .progress{
        width: 70%;
        margin-left: 132px;
    }

    .de-bai{
        margin-top: 320px;
    }

    .choice {
        margin-bottom: 280px;
    }

    #ftbtn {
        width: 120px;
        margin-left: 600px;
        margin-top: 32px;
        padding: 8px;
    }

    .correct-alert {
        padding: 40px 100px !important;
    }

    .wrong-alert {
        padding: 40px 100px !important;
    }

    .nextbtn {
        right: 120px;
        width: 20%;
    }

}
/* Mobile */
@media (max-width: 740px) {
    
    #header {   
        height: 52px;
    }

    #nav li {
        padding: 0 4px;
    }

    #nav li a {
        display: inline-block;
        padding: 0 8px;
        font-size: 16px;
        line-height: 52px;
    }

    #logo {
        width: 52px;
        margin-left: 12px;
        margin-right: 8px;
    }

    .user {
        right: 0;
        padding: 16px;
        height: 56px;
    }

    .content-container{
        background-color: white;
    }

    #content {
        background-color: white;
        margin-top: 4px;
    }

    .alert {
        margin: 0 16px;
        height: 210px;
    }

    .btnx {
        margin-top: 30px;
        margin-left: 42px;
    }

    .progress{
        width: 70%;
        margin-top: -20px;
        margin-left: 80px;
    }

    .de-bai{
        margin-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .de-bai h2 {
        font-size: 22px;
    }

    .choice {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .btn1 {
        width: 160px;
        height: 192px;
        margin: 8px;
    }

    #ftbtn {
        width: 240px;
        margin-left: 72px;
        margin-top: 4px;
    }

    hr {
        display: none;
    }

    .correct-alert {
        height: 200px;
        padding: 0 16px 60px!important;
    }

    .correct i {
        display: none;
    }

    .wrong-alert {
        height: 200px;
        padding: 0 16px 60px!important;
    }

    .wrong i {
        display: none;
    }

    .nextbtn {
        right: 100px;
        bottom: 28px;
        width: 50%;
    }

}
/*      Start css content   */

.btn {
    background-color: #c50000 !important;
    color: white !important;
  }
  
  .group-btn {
    justify-content: center;
    align-items: center;
  }
  
  .btn:focus {
    box-shadow: 0 0 0 4px rgba(197, 0, 0, 0.2) !important;
  }
  
  .btn-custom {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px rgba(241, 49, 49, 0.238);
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .custom-1 {
    margin-right: 30px;
  }
  
  .custom-2 {
    margin-left: 20px;
  }
  
  .custom-3 {
    margin-left: 50px;
  }
  
  .custom-4 {
    margin-right: 30px;
  }
  
  .custom-5 {
    margin-right: 110px;
  }
  
  .content-header {
    background-color: #c50000;
    color: white;
    margin: 20px 0;
    border-radius: 20px;
    height: 92px;
    padding: 16px 0;
  }
  
  .content-container {
    background-color: #f2f2f2;
    padding: 40px 0;
  }
  
  #content {
    position: relative;
    background-color: #f8f9fa;
    border-radius: 28px;
    margin: 60px auto 0;
    max-width: 600px;
    padding: 32px 48px 32px;
  }
  
  .text {
    margin-bottom: 4px;
  }
  
  .list-group {
    list-style-type: none;
  }
  
  .list-group li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /*      End css content   */
  
  /*  Start css multiple choice */
  .js-multiple {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
    display: none;
  }
  
  .js-multiple.open {
    display: block;
  }
  
  .progress-bar {
    background-color: rgb(219, 3, 3) !important;
  }
  
  .btnx {
    margin-left: 300px;
    margin-top: 56px;
    justify-content: center;
    border: none;
    background-color: white;
  }
  
  .progress {
    width: 50%;
    margin-left: 360px;
    margin-top: -20px;
  }
  
  .de-bai {
    margin-top: 72px;
    text-align: center;
  }
  
  .choice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 108px;
    flex-wrap: wrap;
  }
  
  .btn1 {
    border-radius: 24px;
    border: solid rgba(159, 155, 155, 0.3);
    border-width: 2px 2px 4px;
    margin: 0px 12px;
    background-color: white;
    font-size: 28px;
    width: 164px;
    height: 244px;
  }
  
  .btn1:focus {
    background-color: rgba(11, 167, 245, 0.2);
    border-color: rgba(11, 167, 245, 0.8);
    color: rgb(0, 0, 0);
  }
  
  /* .btn1:hover {
      background-color: rgba(246, 246, 246, 0.7);
  } */
  
  #ftbtn {
    margin-left: 1000px;
    margin-top: 24px;
    border-radius: 24px;
    text-align: center;
    font-size: 19px;
    color: white;
    border: 2px solid rgb(197, 0, 0);
    box-shadow: 0 3px 0 rgb(219, 3, 3);
    background-color: rgb(219, 3, 3);
    padding: 10px;
    width: 10%;
  }
  
  #ftbtn:disabled {
    color: gray;
    border: 2px solid rgb(229, 229, 229);
    box-shadow: 0 2px 0 rgb(229, 229, 229);
    background-color: #f2f2f2;
  }
  
  #ftbtn:active {
    box-shadow: none;
    transform: translateY(2px);
  }
  
  hr {
    width: 100%;
    height: 0.1px !important;
    color: rgb(229, 229, 229);
  }
  
  .thong-bao-thoat {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .thong-bao-thoat.open {
    display: flex;
  }
  
  .alert {
    background-color: white !important;
    position: relative;
    width: 532px;
    min-height: 160px;
    padding: 24px !important;
  }
  
  #alrtbtn1 {
    position: absolute;
    right: 100px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 12px;
    padding: 6px 10px;
  }
  
  #alrtbtn1:hover {
    background-color: #e4e0e0;
  }
  
  #alrtbtn2 {
    position: absolute;
    right: 32px;
    border: 2px solid rgba(11, 167, 245, 0.8);
    background-color: rgba(11, 167, 245, 0.5);
    font-size: 12px;
    padding: 6px 10px;
  }
  
  .correct {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    align-items: end;
    justify-content: center;
    display: none;
  }
  
  .correct.open {
    display: flex;
  }
  
  .correct-alert {
    position: relative;
    width: 100%;
    min-height: 127px;
    padding: 40px 300px !important;
    display: flex;
    align-items: center;
    background-color: #d7ffb8;
  }
  
  .correct i {
    font-size: 80px;
    color: rgb(88, 176, 0);
  }
  
  #correct-text {
    padding-left: 24px;
    font-size: 32px;
    color: #58a700;
  }
  
  .nextbtn {
    position: absolute;
    right: 300px;
    margin-left: 1000px;
    margin-top: 16px;
    border-radius: 24px;
    text-align: center;
    font-size: 19px;
    color: white;
    padding: 10px;
    width: 10%;
  }
  
  .green {
    border: 2px solid #50b404f3;
    box-shadow: 0 3px 0 #58cc02;
    background-color: #58cc02;
  }
  
  .nextbtn:active {
    box-shadow: none;
    transform: translateY(2px);
  }
  
  .wrong {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    align-items: end;
    justify-content: center;
    display: none;
  }
  
  .wrong.open {
    display: flex;
  }
  
  .wrong-alert {
    position: relative;
    width: 100%;
    min-height: 127px;
    padding: 40px 300px !important;
    display: flex;
    align-items: center;
    background-color: #ffdfe0;
  }
  
  .wrong i {
    font-size: 80px;
    color: rgb(234, 43, 43);
  }
  
  #wrong-text {
    padding-left: 24px;
    font-size: 24px;
    color: #ea2b2b;
  }
  
  .red {
    border: 2px solid #fa3939;
    box-shadow: 0 3px 0 #ff4b4b;
    background-color: #ff4b4b;
  }
  
  #key {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  
  /*  End css multiple choice */
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /*      Start css header   */
  
  #header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
  }
  
  #nav {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  
  #nav li {
    display: inline-block;
    margin: 0 -3px;
  }
  
  #nav li a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 60px;
    color: #1c1e2e;
    font-size: 20px;
  }
  
  #logo {
    width: 64px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 135px;
    padding-top: 2px;
  }
  
  #nav li a:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .user {
    position: absolute;
    right: 120px;
    display: inline-block;
    padding: 14px 12px;
    height: 60px;
  }
  
  #this {
    background-color: #f2f2f2;
  }
  
  /*      End css header   */
  
  /*   Start css  footer   */
  
  #footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 48px 0 20px;
  }
  
  #footer i {
    font-size: 16px;
    color: #000;
    width: 20px;
  }
  
  #des {
    padding-top: 4px;
    color: rgba(0, 0, 0, 0.7);
  }
  
  #name {
    color: rgba(186, 36, 37, 0.7);
  }
  
  #name:hover {
    cursor: pointer;
    color: #ba2425;
  }
  
  /*   End css  footer   */
  