@media (min-width: 1024px) {
    #btn-container {
        display: none;
    }

    #kata, #hira {
        display: block;
    } 
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    #logo {
        margin-left: 80px;
    }

    .user {
        right: 60px;
    }

    #banner {
        padding-top: 80px;
        padding-bottom: 84px;
    }

    #content img {
        width: 360px;
   }

   .bienam {
    margin-top: 100px;
   }

   #btn-container {
    display: none;
   }

   #kata, #hira {
    display: block;
    } 
}

    
/* Mobile */
@media (max-width: 740px) {
    
    #header {   
        height: 52px;
    }

    #nav li {
        padding: 0 4px;
    }

    #nav li a {
        display: inline-block;
        padding: 0 8px;
        font-size: 16px;
        line-height: 52px;
    }

    #logo {
        width: 52px;
        margin-left: 12px;
        margin-right: 8px;
    }

    .user {
        right: 0;
        padding: 16px;
        height: 56px;
    }

    #content img {
        width: 360px;
   }
   #content {
        margin-top: 92px;
   }

   .item h2 {
        margin: 16px 0 16px;
   }

    #btn-container {
        display: block;
    }

    #kata {
        display: none;
    } 

}